*{
  padding: 0px;
  margin: 0px;
}
body{
    font-family: "Press Start 2P", system-ui;
    height: 100vh;
    /* padding: 12px;
    margin: 12px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    /* background-size: cover; */
    color: rgba(255, 255, 255, 0.955);
    overflow: hidden; /* remove scrollers to overflow content not didplayed */
}
.gameArea{
position: relative;
width: 15vw;
height: 30vh;
background:rgba(7, 26, 49, 0.655);
top:10vh;
}

.machine{
  position: absolute;
  height: 100vh;
  z-index: -1;
}
  